# Auto detect text files
* text=auto

*.aplf linguist-language=apl
*.aplo linguist-language=apl
*.aplc linguist-language=apl
*.apln linguist-language=apl
*.apli linguist-language=apl
*.dws linguist-language=apl
*.dyapp linguist-language=apl
